[submodule ".config/nvim"]
	path = .config/nvim
	url = git@github.com:Xylot/init.lua
[submodule ".config/tmux"]
	path = .config/tmux
	url = git@github.com:Xylot/.tmux
[submodule ".config/zsh"]
	path = .config/zsh
	url = git@github.com:Xylot/.zsh
